package pages

import "sophro/internal/views/layout"


templ Landing() {
  @layout.Base() {
    <div>
      Presentation...
    </div>
    <div>
      Tarifs...
    </div>
    <div>
      Actus...
    </div>
  }
}
